.welcome-app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e293b;
  height: 100vh;
}
.heading {
  font-family: 'Bree Serif';
  font-size: 35px;
  font-weight: 600;
  color: #f0bb03;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 48px;
  }
}
.thank-you-text {
  font-family: 'Bree Serif';
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .thank-you-text {
    font-size: 35px;
  }
}
.subscribe-button {
  border-radius: 10px;
  background-color: #ffffff;
  height: 40px;
  width: 110px;
  font-family: 'Bree Serif';
  font-size: 14px;
  color: #1e293b;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .button {
    font-size: 18px;
  }
}
